
 {% extends 'base.html' %}
    {% block main %}
 <br>
 <br>
 <br>
        <div class="jumbotron jumbotron-fluid">
          <div class="container">
            <h1 class="display-4">Export data</h1>
            <p class="lead">Export the data from database into desired file format</p>
          </div>
        </div>


        <div class="container h-100">
            <div class="row h-100 justify-content-center align-items-center">
                <div class="col-10 col-md-8 col-lg-6 text-center">

                <br/><br/><br/><br/>




                <form method="post" enctype="multipart/form-data">
                    {% csrf_token %}
                    <p>Please select format of file.</p>
                    <select name="file-format" class="form-control my-3">
                        <option selected>Choose format...</option>
                        <option>CSV</option>
                        <option>JSON</option>
                        <option>XLS (Excel)</option>
                        <option>XML</option>
                      </select>
                    <p> Please select the data desired.</p>
                    <select name="data-type" class="form-control my-3">
                        <option selected>Choose data...</option>
                        <option>Projects</option>
                        <option>Tasks</option>
                        <option>Journals</option>
                        <option>Status</option>
                    </select>
                    <button class="btn btn-primary" type="submit">Export</button>
                  </form>
                </div>
            </div>
        </div>

{% endblock %}